{% extends 'index.html' %}

{% block head %}
<title>Summary</title>
{% endblock %}

{% block body %}
<div style="display:flex;">
    <div style="width:50%;border:1px solid black;font-size:18px">
        <h3 style="text-align:center">Summary</h3>
        {{ summary }}
        
    </div>



    <div style="width:50%">
     
        
        <button type="button" id="toggleButton">Adjective</button>

        <label for="dropdown">Select a Part of Speech:</label>
        <select id="dropdown" name="dropdown">
            <option value="option1">Default</option>
            <option value="option2">Noun</option>
            <option value="option3">Verb</option>
            <option value="option4">Adverb</option>
            <option value="option5">Adjective</option>
            <option value="option6">Nouns and Verbs</option>
        </select>
       
        <h4>Enter a word to begin search</h4>
        <div><input type="text" placeholder="Search.." name="search">
        <input type="submit" id="submitword" value="Submit" />
        </div>

        <img id="image" style="width:100%"  src="data:image/png;base64,{{ wordcloud_image}}" alt="Plot"  /> 
        <img id="image" style="width:100%"  src="data:image/png;base64,{{ wordcloud_image_adverbs}}" alt="Plot"  />
        <img id="image" style="width:100%"  src="data:image/png;base64,{{ wordcloud_image_verbs}}" alt="Plot"  />
        <img id="image" style="width:100%"  src="data:image/png;base64,{{ wordcloud_image_nouns}}" alt="Plot"  />
        <img id="image" style="width:100%"  src="data:image/png;base64,{{ wordcloud_image_nounsverbs}}" alt="Plot"  />
        <!--changing to wordcloud_image_adjectives it showing adjectves wordcloud.-->
    </div>
    
    
</div>


<script>
        // JavaScript code to toggle between images
        const wordcloudImage = document.getElementById("image");
        const toggleButton = document.getElementById("toggleButton");
        let showAdjectives = false;
        

        toggleButton.addEventListener("click", () => {
            if (showAdjectives) {
                wordcloudImage.src = "data:image/png;base64,{{ wordcloud_image }}";
                toggleButton.textContent = "Adjectives";
            } else {
                wordcloudImage.src = "data:image/png;base64,{{ wordcloud_image_adjectives }}";
                toggleButton.textContent = "WordCloud";
            }
            showAdjectives = !showAdjectives;
        });
    
</script>



{% endblock %}


